// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
	"baggrund": #F4EFED,
	"borderfarve": #D1D1D1,
	"success": #738C72,
	"cta": #c4a1c6,
	"grøn": #a3c6a1,


);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";


.kontaktformular{
	font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 768px){

.kontaktformular > div{
	border-radius: 10px;
}
}
#Logo{
	width: 60px;
	height: auto;
}

@media screen and (min-width: 768px){
	#Logo{
		width: 120px;
	}

}

body{
	font-family: Roboto Serif;
}
h1, h2, h3, h4, h5{
	font-family: "Roboto", sans-serif;
}

li{
	font-family: Roboto Serif;
}
p{
	font-family: Roboto Serif;
}
figure{
	display: flex;
	flex-direction: column;
	margin-bottom: 0;
}
figcaption{
	font-size: xx-small;
}
.navbar{
	font-family: "Roboto", sans-serif;
}
.nav-link.active {
	border-bottom: 1px solid black;
}
.font-footer{
	font-family: 'Roboto', sans-serif;
}

.copyright-icon{
	font-size: 0.5em;
}
// 5. Du kan lave styling her...


